.form-container{
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    overflow: hidden;
}

.form-parent{
    width: 498px;
    height: 537px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.form-parent-wrp{
    width: 450px;
    height: 496px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}



.title-form{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 14px;
    color: var(--white-txt);
    letter-spacing: 1px;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-wrp{
    width: 300px;
    height: 348px;
}

.infield{
    position: relative;
    margin-bottom: 1.3rem;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
}
.userdata {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 14px; */
}

.input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 90%;
    border: 1.5px solid var(--white-txt);
    border-radius: 8px;
    background: none;
    color: var(--white-txt);
}

.input:focus , input:valid{
    outline: none;
    border:1.5px solid var(--highttxt);

}

label {
    color: var(--white-txt);
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    background: transparent;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus ~ label,
.input:valid ~ label {
    transform: translateY(-180%) scale(0.8);
    font-size: 14px;
    color: var(--white-txt);
}



.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-icon {
    width: 20px;
    height: 20px;
    fill: var(--white-txt);
    position: absolute;
    transition: opacity 0.2s ease-in-out, fill 0.3s ease-in-out;
}

.password-toggle:hover .eye-icon {
    fill: var(--white-txt);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}



.submit-btn {
    background: transparent;
    border: 1px solid var(--white-txt);
    border-radius: 5px;
    color: var(--white-txt); 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* margin-top: 24px; */

}

.submit-btn:hover {
    background: var(--highttxt);
    color: var(--white-txt);
    box-shadow: 2px 1px 1px var(--white-txt); 
}



.terms{
    font-size: 14px;
    color: var(--white-txt);
    width: 100%;
    margin-top: 84px;
    text-align: left;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.5px;


}
.terms a{
    color: var(--highttxt);
    text-decoration: none;
}
a.terms-accent{
    color: var(--highttxt) !important;
    text-decoration: none;
}
.terms a:hover{
    text-decoration: underline;
}

.login_account{
    color: var(--dark-0);
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

.login_href{
    color: var(--highttxt);
}

.disable-btn {
    cursor: none;
    opacity: 0.5;
    border-color: var(--dark-rgb);
    color: var(--white-txt);
    box-shadow: none;
    pointer-events: none;
    user-select: none;
}


.login_account span a:hover {
    text-decoration: underline;
}

.forgot-pass a {
    font-size: 12px;
    color: var(--dark-rgb);
    text-align: right;
    margin-bottom: 1rem;
    z-index: 999;
}
a.reset-link:hover{
    text-decoration: underline;
    color: var(--highttxt);
}