<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
   <title>{% block title %}Astutor{% endblock %}</title>
</head>
<body class="main-bg blur-bg">
    
    
  <div class="stars" id="stars-container"></div>

  
    <div class="header-wrp">
    <div class="header-container">
        <div class="left-section">
        <div class="menu-icon cursor-pointer">☰</div>
        <div class="brand-name">Astutor</div>
        </div>
        <div class="explore-btn cursor-pointer">
            <a href="/login" class="button">
                <svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg>
                Explore
            </a>
        </div>




    </div>
    </div>




        

<div class="home-container">
    {% block chatHome %}{% endblock  %}   
    {% block login %}{% endblock %} 
</div>



        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/anim.js') }}"></script>
        <script src="{{ url_for('static', filename='js/func.js') }}"></script>
</body>
</html>
