<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css">
    <title>Astutor|Home</title>
</head>
<body class="blur-bg">
    


    <div class="_main">
        
        
        <div class="parent">

            <div class="menu-based">

                <div class="user-identity">Trainee</div>

                <div class="menu dashboard-menu">
                    <div class="menu-wrp dash">
                        <div class="selected menu-list dashboard ">
                            <div class="menu-list-container">
                                <i class="fa-light fa-house"></i>
                                <span class="menu-txt">Dashboard</span>
                            </div>
                        </div>

                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                                  <i class="fa-light fa-compass"></i>
                            <span class="menu-txt">Discover</span>
                            </div>
                            
                        </div>
                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                                    <i class="fa-light fa-messages"></i>
                            <span class="menu-txt">Messages</span>
                            </div>

                          
                        </div>
                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                                   <i class="fa-regular fa-gear"></i>
                            <span class="menu-txt">Settings</span>
                            </div>

                          
                        </div>
                    </div>
                 

                </div>


                <div class="menu todo-menu">
                    <div class="menu-wrp dash">
                        <div class=" menu-list dashboard static">
                            <div class="menu-list-container">
                                <i class="fa-light fa-clipboard-list-check" style="color: #c09c7b;"></i>
         
                                <span class="menu-txt menu-title">To Do</span>
                            </div>
                        </div>

                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                            <span class="menu-txt-todo">Lesson 5: Assignments dasddsasasddas</span>
                            </div>
                            
                        </div>
                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                            <span class="menu-txt-todo">Lesson 6: Assignments dasddsasasddas</span>
                            </div>
                            
                        </div>
                        <div class="menu-list dashboard">
                              <div class="menu-list-container">
                            <span class="menu-txt-todo">Lesson 1: Assignments dasddsasasddas</span>
                            </div>
                            
                        </div>
                    
                    </div>
                 

                </div>

                <div class="menu achivements-menu">
                    <div class="menu-wrp dash">
                        <div class=" menu-list dashboard static">
                            <div class="menu-list-container">
                                <i class="fa-light fa-badge-check" style="color: #c09c7b;"></i>
                                <span class="menu-txt menu-title">Achivements</span>
                            </div>
                        </div>
                        <div class="achivements-list ">
                            Nothing Here
                        </div>
                    
                    </div>
                 

                </div>


            </div>

            <div class="div2">
                
                <div class="header-content">
                    <div class="header-list_wrp">
                       
                        <a href="#" class="active-link">
                            <div class="header-list">
                                <span>Courses</span>
                                <div class="dot-header"></div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="header-list">
                                <span>Tutors</span>
                                <div class="dot-header"></div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="header-list">
                                <span>Offers</span>
                            </div>
                        </a>

                        <div class="header-profile">
                            <div class="profile-notification">notification</div>
                            <div class="user-profile">Hello</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div3"></div>
        </div>
            



    </div>

        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/dashboard_f.js') }}"></script>
</body>
</html>